<!DOCTYPE html>
<html lang="<%= lang %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title><%- title %></title>
    <% if (typeof includeLeafletCss !== 'undefined' && includeLeafletCss) { %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <% } %>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/search.css"/>
    <link rel="stylesheet" href="/css/backTopBtn.css"/>
    <link rel="icon" href="/favicon.svg"/>
    <script>
        window.API_URL = "<%= apiUrl %>";
        window.APP_LANG = "<%= lang %>";
        window.I18N = <%- JSON.stringify(clientMessages) %>;
    </script>
</head>
